body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: black ;
}


.loading{
    margin: 100px auto;
    width: 70%;
    height: 100px;
    border: 3px solid darkblue;
    border-radius: 60px;
    box-shadow: 0 4px 40px 0 darkblue inset, 0 4px
    40px 0 darkblue;
    position: relative;
    overflow: hidden;

}
.pac-man{
    position: absolute;
    top: auto;
    left:10% ;
    z-index: 1; /*:::indica el orden de un elemento posicionado. Mayor valor cubre los de menor valor:::*/
    margin:20px ;
    animation: corre 4s linear infinite;
}

.arriba{
    width: 50px;
    height: 25px;
    background: #ffff00;
    border-radius: 100px 100px 0 0;
    transform: rotate(0deg);
    transform-origin: 50% 100%;
    animation: come .4s ease alternate infinite;
}

.abajo{
    width: 50px;
    height: 25px;
    background: #ffff00;
    border-radius: 0 0 100px 100px ;
    transform: rotate(0deg);
    transform-origin: 50% 0%;
    animation: come2 .4s ease alternate infinite;
}

@keyframes come {
    from {
        transform: rotate(-45deg);
    }
    to{
        transform: rotate(0);
    }
}
@keyframes come2 {
    from {
        transform: rotate(45deg);
    }
    to{
        transform: rotate(0);
    }
}

@keyframes corre {
    100%{
        left: 100%;
    }
}