/*:::estilos.css:::*/
body{
    background-image: url("imagenes/play.png");
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;


}
/*:::Boton-Como jugar:::*/
.boton-Como-Jugar{
    padding: 40px;
    text-align: center;

}
.boton-Como-Jugar label{
    padding: 10px 15px;
    background-color: #5488a3;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;



}
.boton-Como-Jugar label:hover{
    background-color: #185E83;
}
/*:::Fin Boton-Como jugar:::*/

/*:::Ventana Jugar:::*/
#btn-Jugar{
    display: none;

}
.container-Jugar{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    



}
#btn-Jugar:checked ~ .container-Jugar{
    display: flex;
}
.content-Jugar{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
}
.content-Jugar h2{
    margin-bottom: 15px;
}
.content-Jugar p{
    padding: 15px 0px;

}
.content-Jugar .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
.content-Jugar .btn-cerrar label{
    padding: 7px 10px;
    background-color: #5488a3;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}
.content-Jugar .btn-cerrar label:hover{
    background-color:#185E83;
}
.cerrar-Jugar{
    width:100%;
    height: 100vh;
    position: absolute;
    top:0; left: 0;
    z-index: -1;
}

/*:::Fin Ventana Modal:::*/